.card{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #ccc;
	height: 500px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card img{
	width: 130px;
	height: 200px;
}
